body {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: aqua;


}

main {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: gold;
}

#freelancers_container {
    display: flex;
    flex-direction: column;
justify-content: flex-start;
align-items: center;

}